.fixed-btn {
  font-size: clamp(14px, 2vw, 22px);
  padding: clamp(6px, 1vw, 12px) clamp(14px, 2.5vw, 28px);
  white-space: nowrap;
  background-color: #387ed1;
}

/* *{
  font-family: "Inter", "serif";
} */